*, *::after {
  box-sizing: border-box;
}
body {
  margin: 150;
  border: 10;
  background-color: #DDDDDD;
  border-color: #FFF;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}
nav ul {
  list-style: none;
}
nav li {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  display: inline-block;
}
main {
  background-color: white;
  width: 80%;
  min-width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
img {
  width: 100%;
}
.img-border {
  border: 5px solid #AAA;
}
.img-border2 {
  border: 5px solid #333;
}


.desc {
  display: inline-block;
}

.text {
  font-size: 20;
  float: left;
  width: 50%;
}
.image {
  float: left;
  width: 50%;
}

.imgrow {
  display: inline-block;
}

.img1 {
  float: left;
  width: 33%;
}

.img2 {
  float: left;
  width: 33%;
}
.img3 {
  float: left;
  width: 33%;
}
